                <div class="card">
                    <!-- image for post -->
                    <div id="_<ap>_{alt}" b-on="click:navigate" class="card-image">
                        <figure class="image is-4by3">
                            <a id="hh_<ap>_{alt}" href="{href}">
                                <img id="hi_<ap>_{alt}" src="{img}" alt="{alt}">
                            </a>
                        </figure>
                    </div>
                    <!-- end of image for post -->

                    <!-- post header -->
                    <div id="L_<ap>_{alt}" b-on="click:navigate" class="card-content-header">
                        <h4 id="h_<ap>_{alt}" class="title is-4"><a id="hl_<ap>_{alt}" href="{href}">{alt}</a></h4>
                    </div>
                    <!-- end of post header -->
                    {mot}

                    <!-- post content -->
                </div>
