                <div class="card">
                    <!-- image for post -->
                    <div class="card-image">
                        <figure class="image is-3by1">
                            <a href="{link}">
                                <img src="{img}" alt="{alt}">
                            </a>
                        </figure>
                    </div>
                    <!-- end of image for post -->
                </div>
