  <div class="navbar-brand">
    <a class="navbar-item" href="http://www.superpython.net">
      <img src="image/camisasuperpython.png" alt="{alt}" width="60" height="28">
    </a>
    <div id="_navbar_start_" class="navbar-start">
      <a class="navbar-item" href="#">
        {alt}
      </a>
    </div>
    <span class="navbar-burger" data-target="navbar-menu">
        <span></span>
        <span></span>
        <span></span>
    </span>
  </div>

  <div id="navbar-menu" class="navbar-menu">

    <!-- this "nav-menu" is hidden on mobile -->
    <div id="right_menu" class="navbar-end">
        <a class="navbar-item is-tab" href="/site/help.html">
            Help
        </a>
        <a class="navbar-item is-tab" href="/site/about.html">
            About
        </a>
        <a id="navbar-home" class="navbar-item is-tab" href="#">
            Home
        </a>
    </div>
    <!-- end of nav -->
  </div>