<!DOCTYPE html>
<html lang="en">
<head>
    <title>SuperPython</title>
    <meta http-equiv="content-type" content="application/xml;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon"/>
    <script type="text/javascript" src="https://cdn.rawgit.com/brython-dev/brython/3.8.0/www/src/brython.js">
    <script type="text/python" src="core/main.py" id="core"></script>
    <script  type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {

            // Get all "navbar-burger" elements
            var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(function ($el) {
              $el.addEventListener('click', function () {

                // Get the target from the "data-target" attribute
                var target = $el.dataset.target;
                var $target = document.getElementById(target);

                // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                $el.classList.toggle('is-active');
                $target.classList.toggle('is-active');

              });
            });
            }

        });

        function claim_project(project, autor){
            if (autor != 'livre') { return true;}
            var MODAL = document.getElementById("ident-modal");
            var FORM = document.getElementById("ident-form");

            var currentClass = MODAL.className;
            if (currentClass == "modal") { // Check the current class name
                MODAL.className = "modal is-active";   // Set other class name
                FORM.action = "/supygirls/__claim/{{claim}}" + project + "/"
            } else {
                MODAL.className = "modal";  // Otherwise, use `second_name`
            }
        }
    </script>
</head>
<body onload="brython()">
<script type="text/python">
from browser import document, alert, html, window, ajax, timer, template
from core.main import Generate


class Browser:
    document, alert, html, window, ajax, timer, template = document, alert, html, window, ajax, timer, template

Generate(Browser, url= window.location.href).render_navigate_page()
</script>
<nav class="navbar is-transparent">
  <div id="navbar-brand"  class="navbar-brand">
    <a class="navbar-item" href="http://www.superpython.net">
      <img src="image/camisasuperpython.png" alt="Superpython" width="60" height="28">
    </a>
    <span class="navbar-burger" data-target="navbar-menu">
        <span></span>
        <span></span>
        <span></span>
    </span>
  </div>

  <div id="navbar-menu" class="navbar-menu">

    <!-- this "nav-menu" is hidden on mobile -->
    <div id="right-menu" class="navbar-end">
        <a class="navbar-item is-tab" href="/site/help.html">
            Help
        </a>
        <a class="navbar-item is-tab" href="/site/about.html">
            About
        </a>
        <a class="navbar-item is-tab" href="/">
            Home
        </a>
    </div>
    <!-- end of nav -->
  </div>
</nav>

<div class="main-header">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="has-text-centered">
                    <!-- header && subheader -->
                    <h1 class="title is-1 is-spaced">SuperPython</h1>
                    <h4 class="subtitle is-4">roll your own game with python</h4>
                    <!-- end of header && subheader -->

                </div>
            </div>
        </div>
    </section>
</div>
<!-- end page header -->

<!-- page content -->
<div class="main-content">
    <div class="container">
        <!-- start of posts -->
        <div id="_nav_panel_"  class="columns is-multiline is-centered has-text-centered">
        </div>
        <!-- end of posts -->
    </div>

</div>
<!-- end of page content -->

<!-- footer: will stick to the bottom -->
<div class="footer footer-top-shadow">
    <div class="container">
        <!-- start of posts -->
        <div class="columns is-centered">
            <!-- start of post -->
            <div class="column is-2">
                <div class="card">
                    <!-- image for post -->
                    <div class="card-image">
                        <figure class="image is-4by1">
                            <a href="https://ufrj.br/">
                                <img src="image/ufrj-logo-8.png"  alt="UFRJ">
                            </a>
                        </figure>
                    </div>
                    <!-- end of image for post -->
                </div>
            </div>
            <!-- end of post -->
            <!-- start of post -->
            <div class="column is-2">
                <div class="card">
                    <!-- image for post -->
                    <div class="card-image">
                        <figure class="image is-4by1">
                            <a href="http://www.nce.ufrj.br/">
                                <img src="image/nce-logo-8.png" height="30px" alt="NCE">
                            </a>
                        </figure>
                    </div>
                    <!-- end of image for post -->
                </div>
            </div>
            <!-- end of post -->
            <!-- start of post -->
            <div class="column is-2">
                <div class="card">
                    <!-- image for post -->
                    <div class="card-image">
                        <figure class="image is-4by1">
                            <a href="http://labase.superpython.net/">
                                <img src="image/labase-logo-8.png" height="30px" alt="LABASE">
                            </a>
                        </figure>
                    </div>
                    <!-- end of image for post -->
                </div>
            </div>
            <!-- end of post -->
            <!-- start of post -->
            <div class="column is-2">
                <div class="card">
                    <!-- image for post -->
                    <div class="card-image">
                        <figure class="image is-3by1">
                            <a href="http://www.sbc.org.br/2-uncategorised/1939-programa-superpython">
                                <img src="image/sbc-logo-8.png" alt="SBC">
                            </a>
                        </figure>
                    </div>
                    <!-- end of image for post -->
                </div>
            </div>
            <!-- end of post -->
        </div>
        <!-- end of posts -->
    </div>
    <div class="container has-text-centered">


        <br>
        <p>gaming platform by <a href="http://www.superpython.net">www.superpython.net</a></p>
        <p>this platform is proudly open source</p>
    </div>
</div>
<!-- end of footer -->
</body>
</html>
